[submodule "eurorack-jakplugg-utidesii"]
	path = eurorack-jakplugg-utidesii
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-utidesii
[submodule "eurorack-jakplugg-utest"]
	path = eurorack-jakplugg-utest
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-utest
[submodule "eurorack-jakplugg-uo_c"]
	path = eurorack-jakplugg-uo_c
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-uo_c
[submodule "eurorack-jakplugg-ugrids"]
	path = eurorack-jakplugg-ugrids
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-ugrids
[submodule "eurorack-jakplugg-uburst"]
	path = eurorack-jakplugg-uburst
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-uburst
[submodule "eurorack-jakplugg-ubraidsii"]
	path = eurorack-jakplugg-ubraidsii
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-ubraidsii
[submodule "eurorack-jakplugg-typhoon"]
	path = eurorack-jakplugg-typhoon
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-typhoon
[submodule "eurorack-jakplugg-twist"]
	path = eurorack-jakplugg-twist
	url = https://github.com/rhinocerose/eurorack-jakplugg-twist
[submodule "eurorack-jakplugg-twiigs"]
	path = eurorack-jakplugg-twiigs
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-twiigs
[submodule "eurorack-jakplugg-threshold"]
	path = eurorack-jakplugg-threshold
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-threshold
[submodule "eurorack-jakplugg-t_u"]
	path = eurorack-jakplugg-t_u
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-t_u
[submodule "eurorack-jakplugg-quarks"]
	path = eurorack-jakplugg-quarks
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-quarks
[submodule "eurorack-jakplugg-plancksii"]
	path = eurorack-jakplugg-plancksii
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-plancksii
[submodule "eurorack-jakplugg-pique"]
	path = eurorack-jakplugg-pique
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-pique
[submodule "eurorack-jakplugg-pachinko"]
	path = eurorack-jakplugg-pachinko
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-pachinko
[submodule "eurorack-jakplugg-nrings"]
	path = eurorack-jakplugg-nrings
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-nrings
[submodule "eurorack-jakplugg-monsoon"]
	path = eurorack-jakplugg-monsoon
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-monsoon
[submodule "eurorack-jakplugg-m-brane"]
	path = eurorack-jakplugg-m-brane
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-m-brane
[submodule "eurorack-jakplugg-beehive"]
	path = eurorack-jakplugg-beehive
	url = https://github.com/rhinocerose/eurorack-jakplugg-beehive
[submodule "eurorack-jakplugg-Alps"]
	path = eurorack-jakplugg-Alps
	url = https://github.com/rhinocerose/eurorack-jakplugg-Alps
[submodule "eurorack-jakplugg-m-Brane"]
	path = eurorack-jakplugg-m-Brane
	url = https://github.com/rhinocerose/eurorack-jakplugg-m-Brane
[submodule "eurorack-jakplugg-Monsoon"]
	path = eurorack-jakplugg-Monsoon
	url = https://github.com/rhinocerose/eurorack-jakplugg-Monsoon
[submodule "eurorack-jakplugg-nRings"]
	path = eurorack-jakplugg-nRings
	url = https://github.com/rhinocerose/eurorack-jakplugg-nRings
[submodule "eurorack-jakplugg-Pachinko"]
	path = eurorack-jakplugg-Pachinko
	url = https://github.com/rhinocerose/eurorack-jakplugg-Pachinko
[submodule "eurorack-jakplugg-Pique"]
	path = eurorack-jakplugg-Pique
	url = https://github.com/rhinocerose/eurorack-jakplugg-Pique
[submodule "eurorack-jakplugg-plancksII"]
	path = eurorack-jakplugg-plancksII
	url = https://github.com/rhinocerose/eurorack-jakplugg-plancksII
[submodule "eurorack-jakplugg-Quarks"]
	path = eurorack-jakplugg-Quarks
	url = https://github.com/rhinocerose/eurorack-jakplugg-Quarks
[submodule "eurorack-jakplugg-T_u"]
	path = eurorack-jakplugg-T_u
	url = https://github.com/rhinocerose/eurorack-jakplugg-T_u
[submodule "eurorack-jakplugg-Threshold"]
	path = eurorack-jakplugg-Threshold
	url = https://github.com/rhinocerose/eurorack-jakplugg-Threshold
[submodule "eurorack-jakplugg-Twiigs"]
	path = eurorack-jakplugg-Twiigs
	url = https://github.com/rhinocerose/eurorack-jakplugg-Twiigs
[submodule "eurorack-jakplugg-Typhoon"]
	path = eurorack-jakplugg-Typhoon
	url = https://github.com/rhinocerose/eurorack-jakplugg-Typhoon
[submodule "eurorack-jakplugg-uBraidsII"]
	path = eurorack-jakplugg-uBraidsII
	url = https://github.com/rhinocerose/eurorack-jakplugg-uBraidsII
[submodule "eurorack-jakplugg-uGrids"]
	path = eurorack-jakplugg-uGrids
	url = https://github.com/rhinocerose/eurorack-jakplugg-uGrids
[submodule "eurorack-jakplugg-uBurst"]
	path = eurorack-jakplugg-uBurst
	url = https://github.com/rhinocerose/eurorack-jakplugg-uBurst
[submodule "eurorack-jakplugg-uO_c"]
	path = eurorack-jakplugg-uO_c
	url = https://github.com/rhinocerose/eurorack-jakplugg-uO_c
[submodule "eurorack-jakplugg-uStreams"]
	path = eurorack-jakplugg-uStreams
	url = https://github.com/rhinocerose/eurorack-jakplugg-uStreams
[submodule "eurorack-jakplugg-uTest"]
	path = eurorack-jakplugg-uTest
	url = https://github.com/rhinocerose/eurorack-jakplugg-uTest
[submodule "eurorack-jakplugg-utidesII"]
	path = eurorack-jakplugg-utidesII
	url = https://github.com/rhinocerose/eurorack-jakplugg-utidesII
