[submodule "eurorack-jakplugg-Alps"]
	path = eurorack-jakplugg-Alps
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-Alps
	branch = main
[submodule "eurorack-jakplugg-beehive"]
	path = eurorack-jakplugg-beehive
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-beehive
	branch = main
[submodule "eurorack-jakplugg-m-Brane"]
	path = eurorack-jakplugg-m-Brane
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-m-Brane
	branch = main
[submodule "eurorack-jakplugg-Monsoon"]
	path = eurorack-jakplugg-Monsoon
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-Monsoon
	branch = main
[submodule "eurorack-jakplugg-nRings"]
	path = eurorack-jakplugg-nRings
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-nRings
	branch = main
[submodule "eurorack-jakplugg-Pachinko"]
	path = eurorack-jakplugg-Pachinko
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-Pachinko
	branch = main
[submodule "eurorack-jakplugg-Pique"]
	path = eurorack-jakplugg-Pique
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-Pique
	branch = main
[submodule "eurorack-jakplugg-plancksII"]
	path = eurorack-jakplugg-plancksII
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-plancksII
	branch = main
[submodule "eurorack-jakplugg-Quarks"]
	path = eurorack-jakplugg-Quarks
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-Quarks
	branch = main
[submodule "eurorack-jakplugg-T_u"]
	path = eurorack-jakplugg-T_u
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-T_u
	branch = main
[submodule "eurorack-jakplugg-Threshold"]
	path = eurorack-jakplugg-Threshold
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-Threshold
	branch = main
[submodule "eurorack-jakplugg-Twiigs"]
	path = eurorack-jakplugg-Twiigs
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-Twiigs
	branch = main
[submodule "eurorack-jakplugg-twist"]
	path = eurorack-jakplugg-twist
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-twist
	branch = main
[submodule "eurorack-jakplugg-Typhoon"]
	path = eurorack-jakplugg-Typhoon
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-Typhoon
	branch = main
[submodule "eurorack-jakplugg-uBraidsII"]
	path = eurorack-jakplugg-uBraidsII
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-uBraidsII
	branch = main
[submodule "eurorack-jakplugg-uBurst"]
	path = eurorack-jakplugg-uBurst
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-uBurst
	branch = main
[submodule "eurorack-jakplugg-uGrids"]
	path = eurorack-jakplugg-uGrids
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-uGrids
	branch = main
[submodule "eurorack-jakplugg-uO_c"]
	path = eurorack-jakplugg-uO_c
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-uO_c
	branch = main
[submodule "eurorack-jakplugg-uStreams"]
	path = eurorack-jakplugg-uStreams
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-uStreams
	branch = main
[submodule "eurorack-jakplugg-uTest"]
	path = eurorack-jakplugg-uTest
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-uTest
	branch = main
[submodule "eurorack-jakplugg-utidesII"]
	path = eurorack-jakplugg-utidesII
	url = git@git-rhino:rhinocerose/eurorack-jakplugg-utidesII
	branch = main
